/* Reset de CSS - Limpia estilos predeterminados de los navegadores */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que los márgenes y el relleno no afecten el tamaño total */
}

html, body {
    height: 100%; /* Asegura que el body ocupe todo el alto de la pantalla */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Establece fuente */
    line-height: 1.5; /* Mejora la legibilidad con un buen espaciado entre líneas */
}

/* Asegura que los enlaces no tengan subrayado y sus colores sean los predeterminados */
a {
    text-decoration: none;
    color: rgb(33, 33, 146);
}

/* Listas */
ul, ol {
    list-style: none; /* Elimina las viñetas de las listas */
}

/* Configuración de tablas */
table {
    border-collapse: collapse; /* Elimina los espacios entre las celdas de la tabla */
}

/* Evita que los botones tengan bordes predeterminados */
button {
    background: none;
    
    cursor: pointer;
}

/* Evitar bordes en campos de formulario */


/* Asegura que los campos de formulario se vean consistentes */
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

/* Eliminar las sombras predeterminadas en algunos elementos como input */
input, button, textarea {
    box-shadow: none;
}

/* Asegura que el contenido en las filas de la tabla esté bien alineado */
td, th {
    text-align: left;
    
}
